.Rproj.user/
.Rhistory
.RData
.Ruserdata

config_local.R

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

output/tables/*
!output/tables/.gitkeep
output/figures/*
!output/figures/.gitkeep

data/external/reference_benchmark/optimization_external_validation.xlsx

.DS_Store
