.Rproj.user/
.Rhistory
.RData
.Ruserdata

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

output/tables/*
!output/tables/.gitkeep
output/figures/*
!output/figures/.gitkeep

.DS_Store
